.hero-button {
  width: 150px; /* même largeur fixe */
  margin-top: 20px;
  padding: 12px 24px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  transition: transform 0.3s ease;
}

.hero-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.515);
}
